@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 220 16% 96%;
    --foreground: 0 0% 9%;

    --card: 220 20% 100%;
    --card-foreground: 0 0% 9%;

    --popover: 220 20% 100%;
    --popover-foreground: 0 0% 9%;

    --primary: 351 100% 66%;
    --primary-foreground: 0 0% 100%;

    --secondary: 175 21% 57%;
    --secondary-foreground: 0 0% 100%;

    --muted: 220 16% 94%;
    --muted-foreground: 220 10% 50%;

    --accent: 351 100% 66%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 220 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 351 100% 66%;

    --success: 142 76% 36%;
    --success-foreground: 220 20% 98%;

    --warning: 38 92% 50%;
    --warning-foreground: 220 16% 9%;

    --info: 175 21% 57%;
    --info-foreground: 220 20% 98%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 220 26% 8%;
    --foreground: 220 20% 98%;

    --card: 220 20% 12%;
    --card-foreground: 220 20% 98%;

    --popover: 220 20% 12%;
    --popover-foreground: 220 20% 98%;

    --primary: 257 89% 37%;
    --primary-foreground: 220 20% 98%;

    --secondary: 220 16% 16%;
    --secondary-foreground: 220 20% 98%;

    --muted: 220 16% 16%;
    --muted-foreground: 220 10% 70%;

    --accent: 192 89% 20%;
    --accent-foreground: 220 20% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 220 20% 98%;

    --border: 220 16% 16%;
    --input: 220 16% 16%;
    --ring: 257 89% 37%;

    --success: 142 76% 36%;
    --success-foreground: 220 20% 98%;

    --warning: 38 92% 50%;
    --warning-foreground: 220 16% 9%;

    --info: 221 83% 53%;
    --info-foreground: 220 20% 98%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
